.container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.drawing-container {
    flex: 1 1 auto;
    background-color: grey;

    height: 100%;
    width: 100%;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

.sidebar {
    display: flex;
    width: 470px;
    height: 100%;
}
.resizer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.popup ~ div {
    overflow: hidden;
}
