.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.drawing-container {
    // breaks the scrow bars
    // overflow: auto;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    background-color: grey;
    // border: 1px solid green;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

.sidebar {
    display: flex;
    width: min-content;
    height: 100%;
}
.resizer {
    width: 10px;
    height: 10px;
    //margin-top: 50px;
    //margin-left: 40px;
    border-radius: 50%;
    background-color: black;
    // position:fixed;
    position: absolute;
}
