<div class="container">
    <app-sidebar> </app-sidebar>

    <div class="drawing-container">
        <app-drawing class="drawing" tabindex="0" [widthPrev]='posX' [heightPrev]='posY' [mouseDown]='mouseDown'></app-drawing>

        <div class='resizer' [ngStyle]="resizerBottomRight" (mousedown)="mouseDownHandler($event, 0)" (window:mousemove)='mouseMoveHandler($event)' (window:mouseup)='mouseUpHandler($event)'></div>
        <div class='resizer' [ngStyle]="resizerBottomLine" (mousedown)="mouseDownHandler($event, 1)" (window:mousemove)='mouseMoveHandler($event)' (window:mouseup)='mouseUpHandler($event)'></div>
        <div class='resizer' [ngStyle]="resizerRightLine" (mousedown)="mouseDownHandler($event, 2)" (window:mousemove)='mouseMoveHandler($event)' (window:mouseup)='mouseUpHandler($event)'></div>

    </div>
</div>