.container {
    height: 100%;
    display: flex;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    background-color: grey;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

.resizer {
    width: 10px;
    height: 10px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}
