<div class="container">
    <app-sidebar> </app-sidebar>

    <div class="drawing-container">
        <app-drawing class="drawing" tabindex="0" [widthPrev]='posX' [heightPrev]='posY' [mouseDown]='mouseDown'></app-drawing>

        <div class='resizer' [ngStyle]="ResizerBottomRight" (mousedown)="mouseDownHandler($event)" (window:mousemove)='mouseMoveHandler($event)' (window:mouseup)='mouseUpHandler($event)'></div>
        <div class='resizer' id='ResizerBottomLine' (mousedown)="mouseDownHandler($event)" (window:mousemove)='mouseMoveHandler($event)' [ngStyle]="ResizerBottomline" (window:mouseup)='mouseUpHandler($event)'></div>
        <div class='resizer' [ngStyle]="ResizerRightLine" (mousedown)="mouseDownHandler($event)" (window:mousemove)='mouseMoveHandler($event)' (window:mouseup)='mouseUpHandler($event)'></div>

    </div>
</div>