<!--Code tiré pour le model window de  https://www.w3schools.com/howto/howto_css_modals.asp-->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="close" (click)="carouselService.close()">&times;</div>
        <div class="carouselContainer">
            <owl-carousel-o id="carousel" [options]="customOptions" #owlCar>
                <ng-container *ngFor="let slide of carouselService.pictures" class="container">
                    <ng-template carouselSlide [id]="slide.codeID">
                        <div>
                            <img class="carousel" (click)="carouselService.loadCanvas(slide)" [src]="slide.imageData" alt="test" />
                        </div>
                        <div class="info">
                            <p>{{ slide.name }} Tags:{{ slide.tags }}</p>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="button">
            <button class="left" (click)="this.owlCar.prev()">&#8249;</button>
            <button class="right" (click)="this.owlCar.next()">&#8250;</button>
        </div>
        <div class="carouselActions">
            <button class="delete" (click)="carouselService.delete(owlCar.slidesOutputData.slides)">Delete selected canvas</button>
            <div class="tags">
                <input [(ngModel)]="carouselService.currentTags" />
                <button (click)="carouselService.filterdessin()">Enregistrer Tags</button>
            </div>
        </div>
    </div>
</div>
