//code tiré et inspiré de
//  https://www.w3schools.com/howto/howto_css_modals.asp

/* The Modal (background) */
.modal {
    display: flex;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: slategray;
    margin: 5% auto auto auto;
    padding: 20px;
    padding-bottom: 100px;
    width: 90%;
    height: 72vh;
    min-width: 600px;
    min-height: 500px;
    border: 4px solid black;
}

.close {
    display: flex;
    color: #aaa;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    display: flex;

    height: 60vh;
    min-height: 400px;
    min-width: 300px;
}
.carousel:hover {
    cursor: pointer;
}

.carouselContainer {
    height: 60vh;
    border: 2px solid black;
    min-width: 200px;
    min-height: 400px;
}

.delete:hover {
    cursor: pointer;
}
.button {
    text-align: center;
    margin-top: 60px;
    z-index: 3;
}

.navigation {
    font-size: 40px;
    background-color: white;
}

.left {
    position: relative;
    margin-right: 40px;
}
.left:hover,
.right:hover {
    cursor: pointer;
}
.right {
    position: relative;

    margin-left: 10px;
}
.info {
    z-index: 0;
}
.carouselActions {
    display: inline-block;
    position: relative;
}
.loading {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    scale: 0.5;
}
.currentTags {
    position: absolute;
}
