<div id="canvas-container" (mousemove)='cursorChange($event)'>

    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height" [ngStyle]="selectionBoxLayout.cursor"></canvas>
    <div class='selection-box' *ngIf="drawSelectionBox()" [ngStyle]="selectionBoxLayout.selectionBox"></div>

    <div *ngFor='let handler of selectionBoxLayout.handlersPositions; let pos = index' [attr.data-index]="pos">
        <div class='handlers' *ngIf='drawHandlers()' [style.left]="selectionBoxLayout.getLeftPosition(pos)" [style.top]="selectionBoxLayout.getTopPosition(pos)" [style.cursor]='selectionBoxLayout.getCursor(pos)'></div>
    </div>
</div>