<div id="myModal" (window:resize)="onResize()" class="modal">
    <div class="modal-content">
        <div class="close" (click)="close()">&times;</div>
        <div>
            <p>Veuillez choisir le type du fichier exporté</p>
            <button
                [ngStyle]="{
                    backgroundColor: exportMode == 'png' ? 'gainsboro' : 'white'
                }"
                (click)="toggleMode('png')"
            >
                Png
            </button>
            <button
                [ngStyle]="{
                    backgroundColor: exportMode == 'jpeg' ? 'gainsboro' : 'white'
                }"
                (click)="toggleMode('jpeg')"
            >
                Jpeg
            </button>
            <div *ngIf="exportMode != undefined">
                <p>Le format choisi est de {{ exportMode }}</p>
            </div>
        </div>
        <div>
            <p>Vous pouvez appliquer un filtre</p>
            <button
                [ngStyle]="{
                    backgroundColor: filter == 'none' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('none')"
            >
                Aucun Filtre
            </button>
            <button
                [ngStyle]="{
                    backgroundColor: filter == 'grayscale(100)' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('grayscale(100)')"
            >
                FiltreGris
            </button>
            <button
                id="blur"
                [ngStyle]="{
                    backgroundColor: filter == 'blur(4px)' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('blur(4px)')"
            >
                Embrouiller
            </button>

            <button
                [ngStyle]="{
                    backgroundColor: filter == 'sepia(100)' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('sepia(100)')"
            >
                Sepia
            </button>
            <button
                [ngStyle]="{
                    backgroundColor: filter == 'invert(100)' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('invert(100)')"
            >
                Inversion de couleur
            </button>
            <button
                [ngStyle]="{
                    backgroundColor: filter == 'brightness(50%)' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('brightness(50%)')"
            >
                Baisse de luminosité
            </button>
            <button
                [ngStyle]="{
                    backgroundColor: filter == 'brightness(150%)' ? 'gainsboro' : 'white'
                }"
                (click)="setFilter('brightness(150%)')"
            >
                Augmentation de luminosité
            </button>
        </div>
        <div>
            <p>Veuillez choisir le nom du fichier</p>
            <input [(ngModel)]="fileName" />
        </div>
        <div>
            <p>Voici le canvas de prévisualisation</p>
            <canvas id="export" #export [attr.width]="width" [attr.height]="height"></canvas>
        </div>
        <div>
            <button (click)="exportPicture()">Export</button>
            <button (click)="exportImgur()">Export to Imgur</button>
        </div>
    </div>
</div>
