<div class="StampList">

  <div class="ToolContainer">
    <img src="../../../assets/Stamp/forsenCD.png" class="function" (click)="setImage('forsenCD.png')"
    [ngStyle]="{
        backgroundColor: currentStamp == 'forsenCD.png' ? 'gainsboro' : 'white'
  }"
  tabindex="0" />
  </div>

  <div class="ToolContainer">
    <img src="../../../assets/Stamp/WeirdChamp.png" class="function" (click)="setImage('WeirdChamp.png')"
    [ngStyle]="{
      backgroundColor: currentStamp == 'WeirdChamp.png' ? 'gainsboro' : 'white'
    }"
    tabindex="0" />
  </div>

  <div class="ToolContainer">
    <img src="../../../assets/Stamp/komodoHype.png" class="function" (click)="setImage('komodoHype.png')"
    [ngStyle]="{
      backgroundColor: currentStamp == 'komodoHype.png' ? 'gainsboro' : 'white'
    }"
    tabindex="0" />
  </div>

  <div class="ToolContainer">
    <img src="../../../assets/Stamp/omegalul.png" class="function" (click)="setImage('omegalul.png')"
    [ngStyle]="{
      backgroundColor: currentStamp == 'omegalul.png' ? 'gainsboro' : 'white'
    }"
    tabindex="0" />
  </div>

  <div class="ToolContainer">
    <img src="../../../assets/Stamp/monkaS.png" class="function" (click)="setImage('monkaS.png')"
    [ngStyle]="{
      backgroundColor: currentStamp == 'monkaS.png' ? 'gainsboro' : 'white'
    }"
    tabindex="0" />
  </div>


</div>
