.color-div {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
    float: left;
}

.text {
    padding-left: 5px;
    padding-right: 5px;
}

.table {
    display: table;
}

.recentColors {
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}

.recentColorsWrapper {
    background-color: lightblue;
    width: 385px;
}

.cells {
    line-height: 0px;
    display: flex;
    float: left;
    padding-right: 25px;
    padding-top: 5px;
}