<p>Couleur Principale :</p>
<div class="color-div" [ngStyle]="{'background-color': primaryColor || 'white'}" (click)="openModal('Primary')"></div>

<button (click)="invert()">Inverser Couleurs Principale et Secondaire</button>

<p>Couleur Secondaire :</p>
<div class="color-div" [ngStyle]="{'background-color': secondaryColor || 'white'}" (click)="openModal('Secondary')"></div>

<div>
    <p>10 dernières couleurs utilisées :</p>
    <!-- 
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    <div class="color-div" [ngStyle]="{'background-color':  || 'white'}"></div>
    -->
</div>

<app-color-modal *ngIf="visibility == true"></app-color-modal>