<div class="container">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>

    <div id="server-message">
        <button class="button" (click)="goToEditor()">Créer un nouveau dessin</button>
        <button class="button" (click)="carouselSerivce.openCarousel()">Ouvrir le carrousel de dessins</button>
        <button class="button" *ngIf="verifDessinExistant()">Continuer un dessin.</button>
    </div>

    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>Nicholas Legrand #1, Benjamin Regazzoni #2, Félix Boudreau #3, Kervin Prinville #4</p>
    </div>
</div>

<app-caroussel *ngIf="carouselSerivce.showCarousel"></app-caroussel>
