.color-wrapper {
    display: flex;
    height: 200px;
    float: left;
}

.color-div {
    width: 28px;
    height: 28px;
    border: 2px white;
    float: left;
}

.text {
    flex: 1;
    font-size: small;
    padding-left: 15px;
}

.input-wrapper {
    float: left;
    padding-left: 25px;
    max-height: 100px;
    font-size: small;
}

input {
    width: 25px;
    height: 15px;
}

button {
    font-size: smaller;
}

.table {
    display: table;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}