.color-wrapper {
    display: flex;
    height: 150px;
    float: left;
}

.color-div {
    width: 28px;
    height: 28px;
    border: 2px white;
    float: right;
}

.text {
    flex: 1;
    font-size: small;
    padding-left: 15px;
}

.input-wrapper {
    float: left;
    padding-left: 25px;
    max-height: min-content;
    font-size: small;
}

input {
    width: 25px;
    height: 15px;
}

button {
    font-size: smaller;
}

.table {
    display: table;
    background-image: url(../../../../assets/bluebackground.jpeg);
    background-size: 600px;
    border-radius: 3%;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    z-index: 5;
    top: 100px;
}