<div class="container">
    <div class="sidebar-container">
        <button class="function" onclick="history.back()">
            Go back!
            <div class="infobulle">This button sends you back to the front page</div>
        </button>
        <button id="CrayonButton" class="function" (click)="openCrayon()">
            Crayon
            <div class="infobulle">This button sends you back to the front page</div>
        </button>
        <button id="LineButton" class="function">
            Ligne
            <div class="infobulle">This button sends you back to the front page</div>
        </button>
        <button id="RectangleButton" class="function">
            Rectangle
            <div class="infobulle">This button sends you back to the front page</div>
        </button>
        <button id="EllipsisButton" class="function">
            Ellipse
            <div class="infobulle">This button sends you back to the front page</div>
        </button>
        <button id="NouveauBouton" (click)="nouveauDessin()" class="function">
            Nouveau Dession
            <div class="infobulle">This button sends you back to the front page</div>
        </button>
    </div>
    <div class="services">
        <div>
            <app-color></app-color>
        </div>
        <div *ngIf="width">
            <app-width-slider></app-width-slider>
        </div>
    </div>
</div>
