<div class="container">
    <div class="sidebar-container">
        <button class="function" onclick="history.back()">Go back!</button>
        <button class="function" (click)="openCrayon()">Crayon</button>
        <button class="function">Ligne</button>
        <button class="function">Rectangle</button>
        <button class="function">Ellipse</button>
        <!--<button (click)="openWidth()">Width</button>-->
    </div>
    <div class="services">
        <div>
            <app-color></app-color>
        </div>
        <div *ngIf="width">
            <app-width-slider></app-width-slider>
        </div>
    </div>
</div>
