.container {
    display: flex;
    height: 100%;
    position: relative;
    //min-height: 100vh;
    width: 400px;
    //padding: 0 5px 0 5px;
}

.services {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 3px;
    width: 350px;
}

.function {
    display: flex;
    width: 50px;
    height: 3.8vh;
    border-radius: 4px;
    background-color: white;
    max-height: 100px;
    align-self: center;
    border-color: black;
    flex-grow: 0.1;
}

.function:focus {
    background-color: #7bf6da;
}

.infobulle {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 60px;
    position: absolute;
    z-index: 2;
}

.ToolContainer:hover .infobulle {
    visibility: visible;
    display: block;
    background-color: gainsboro;
}

.ToolContainer {
    align-self: center;
    margin: 0.5em;
}

.BackgroundServices {
    background-image: url(../../../assets/bluebackground.jpeg);
    background-size: cover;
    border: 1px solid black;
    flex-shrink: 0;
    width: 330px;
}

//J'utilise ca pour faire la rangé de bouton a gauche
.sidebar-container {
    flex-shrink: 0;
    border: 1px solid black;
    width: 70px;
    background-image: url(../../../assets/b151576e-c5cd-4703-bac1-3ae2462d7d16.png);
    background-color: black;
    justify-content: center;
}

.sidebar-block {
    border-top: black solid 2px;
}

.attributes-block {
    padding-bottom: 10px;
    border-bottom: black solid 2px;
}
