.container {
    display: flex;
    height: auto;
    min-height: 98vh;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}
//J'utilise ca pour faire la rangé de bouton a gauche
.sidebar-container {
    display: flex;
    //flex: 1;
    flex-direction: column;

    width: 25%;
    background-image: url(../../../assets/c3a1391c57807876a7f3bddaac3ef1eb.jpeg);
    //background-color: black;
    justify-content: start;
}
.services {
    flex-direction: column;
    margin-left: 50px;
}
.function {
    display: flex;
    width: 90%;
    border-radius: 4px;
    background: white;
    flex: 0.1;
    max-height: 100px;
    align-self: center;
    margin: 0.5em;
    flex-grow: 0.1;
}
.function:focus {
    background-color: gainsboro;
}
.function .infobulle {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 100px;

    position: absolute;
}

.function:hover .infobulle {
    visibility: visible;
    display: block;
    background-color: gainsboro;
}
