
    

    <p>Veuiller entrez la taille des carrés de la grille</p>
    <mat-slider thumbLabel min="10" max="100" step="5" [(ngModel)]="size" (change)="updateSizeValues($event)"></mat-slider>
    <div class="value">La taille courante d'un carré est de {{ size }}px</div>

    <p>Veuiller entrez l'opacité des lignes pour les carrés de la grille en pourcentage</p>
    <mat-slider thumbLabel min="20" max="100" step="1" [(ngModel)]="opacity" (change)="updateOpacityValues($event)"></mat-slider>
    <div class="value">L'opacité des lignes courante d'un carré est de {{ opacity }}%</div>
