<button id="fillButton" [ngStyle]="fillButton" (click)="setFill()">Remplir</button>
<button id="borderButton" [ngStyle]="borderButton" (click)="setBorder()">Bordure</button>
<button id="fillBorderButton" [ngStyle]="fillBorderButton" (click)="setFillBorder()">Remplir + Bordure</button>

<div *ngIf="lineOn">
  <button id='noLinePoint' (click)='setPoint(false)'>Sans points aux jointures</button>
  <button id="linePoint" (click)='setPoint(true)'>Point aux jointures</button>
  <app-point-width-slider [change]="change" *ngIf="linePoint"></app-point-width-slider>
</div>
